 
<div class="row page-header">
	<div class="col-md-2">
		<h3> Editar Grupo  </h3>
	</div>
	<div class="col-md-10" align="right" >
			<%= link_to 'Usuario', @administracion_grupo , class:"btn btn-default" %>  
			<%= link_to 'Regresar',  administracion_grupos_path ,class:"btn btn-default" %>			
	</div>
</div>
<div class="row "  > 
	<%= render 'form' %>
</div>


