<div class="panel-body2"  style="height: 95%;">
	<%= link_to 'Mostrar',@plantilla,class:"btn btn-default btn-sm" %>				
	<%= link_to 'Regresar',plantillas_path,class:"btn btn-default btn-sm" %>		
</div>
<div class="panel-body2"  style="height: 95%; padding-top: 10px;">
	<%= render 'form' %>
</div>