
<div class="panel-body2"  style="height: 95%;">
  <%= link_to 'Regresar', sigesp_solicituds_path, class: "btn btn-default btn-sm" %>
  <%= link_to 'Mostrar',sigesp_solicitud_path(@solicitud),class:  "btn btn-default btn-sm" %>       
</div>

<div id="form_solicitud_almacen" class="panel-body2" 
   style="height: 95%; padding-top: 10px;">
  <div id="error"></div>
  <%= render 'form_compra',
      solicitud: @solicitud
  %>
  <label class="alert alert-dange">Debe Seleccionar por lo menos 1 Articulo </label>
</div>



<div id="modal-articulos" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 98%; ">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Listado de Articulos</h4>
      </div>
      <div class="modal-body">
        <div id="contenido">
            
          
        </div>
      </div>
    </div>
  </div>
</div>


