<div class="panel-body2"  style="height: 95%;">
	<%= link_to 'Regresar', administracion_usuarios_path, class: "btn btn-default btn-sm" %>
</div>
<div class="panel-body2 formulariousuario_nuevo" 
     style="height: 95%; padding-top: 10px;" 
     url="<%= administracion_usuarios_path %>">
	<%= render 'form' %>
</div>
